.item {
    width: 100%;
    max-width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #faf7f8;
    border-radius: 20px;
}

.item:hover {
    transform: scale(1.06);
    transition: 0.6s;
}

.item .image-link img {
    height: 500px;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
}

.item p {
    margin: 6px 20px;
}

.item-prices {
    margin: 6px 20px;
    display: flex;
    /* "flex-direction" is "row" by default. No need to specify it */
    gap: 20px;
}

.item-new-price {
    font-size: 1.25rem;
    color: #ff3131;
    font-weight: 800;
}

.item-old-price {
    font-size: 1.25rem;
    color: #898989;
    font-weight: 600;
    text-decoration: line-through;
}


/* SPECIAL MEDIA QUERIES FOR TARGETED SCREEN SIZE */

@media (max-width: 900px) {
    .item {
        width: 250px;
        padding: 20px;
        border-radius: 18px;
        font-size: 1.3rem;
    }
    .item img {
        height: 400px;
        max-width: 200px;
    }
    .item p {
        margin: 6px 0px;
    }
    .item-prices {
        margin: 6px 0px;
        gap: 12px;
    }
    .item-new-price,
    .item-old-price {
        font-size: 1.3rem;
    }
}

@media (max-width: 850px) {
    .item {
        width: 200px;
        padding: 18px;
        border-radius: 16px;
        font-size: 1.15rem;
    }
    .item img {
        height: 350px;
        max-width: 200px;
    }
    .item p {
        margin: 5px 0px;
    }
    .item-prices {
        margin: 5px 0px;
        gap: 10px;
    }
    .item-new-price,
    .item-old-price {
        font-size: 1.15rem;
    }
}

@media (max-width: 780px) {
    .item {
        width: 240px;
        padding: 25px;
        border-radius: 20px;
        font-size: 1.2rem;
    }
    .item img {
        height: 400px;
        max-width: 240px;
    }
    .item p {
        margin: 6px 0px;
    }
    .item-prices {
        margin: 6px 0px;
        gap: 15px;
    }
}


/* USE THE ORIGINAL OR DEFAULT SIZE for screen size 600px and below */

@media (max-width: 600px) {
    .item {
        width: 100%;
        padding: 40px;
        border-radius: 20px;
    }
    .item img {
        height: 500px;
        width: 100%;
        max-width: 300px;
        display: flex;
        align-items: center;
    }
    .item p {
        margin: 6px 0;
    }
    .item-prices {
        margin: 6px 0;
        gap: 20px;
    }
    .item-new-price,
    .item-old-price {
        font-size: 1.25rem;
    }
}